<div class="jumbotron d-flex align-items-start flex-column bd-highlight mb-3 padding-start text-white" style="height: 780px;">
  <div class="container text-center">
    <p>
    <h1>Maps</h1>
    <p class="text-justify text-right">
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </p>
  </div>
</div>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Contact Us</h5>
    <p class="card-text">Mail On the E-Mail ID or Open the link below</p>
    <a href="#" class="btn btn-primary">Chat</a>
  </div>
</div>
