<div class="p-3 mb-2 bg-light text-dark">
  <h2 class="text-center">Edit post</h2>
  <p class="text-center">
    <%= render 'posts/errors' %>
  </p>
  <div class="container">
    <div class="row">
      <div class="text-center  bg-info bg-gradient col-10" style="height: 400px">
        <%= render 'posts/form' %>
      </div>
    </div>
  </div>
</div>
